body {
  background-image: url(http://streaming.yayimages.com/images/edited/photographer/subbotina-anna/156d7308a05af779b7576d57d953592f/abstract-christmas-background-holiday-abstract-background.jpg);
  background-size: cover;
  font-family: Arial;
}
h1 {
  margin: 3%;
  text-align: center;
}
#description {
  font-size: 19px;
  margin: 5%;
}
input[type=text], input[type=email], input[type=number], textarea {
  width: 70%;
}
#survey-form {
  font-size: 16px;
  text-align: left;
  margin: 0, auto;
}
#content {
  background-color: yellow;
  padding: 2%;
  margin: 3% 25%; 
}
button {
  padding: 1%;
  margin-top: 3%;
  width: 20%;
}
fieldset {
  border-style: none;
}
